<%# Form to create task %>
<div>
    <h1>Create Task</h1>
    <p>What do you need to do?</p>
    <%=form_with model: @task, data: { turbo: false } do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :description %>
            <%= form.text_field :description %>
        </div>
        <%= form.submit "Add Task" %>
    <% end %>
</div>