<%# Form to create task %>
<div class="task-form-box">
    <div>
        <h1>Create To Do</h1>
        <p>What do you need to do today?</p>
    </div>
    <%=form_with model: @task, class: "task-form", data: { turbo: false } do |form| %>
        <div class="form-item">
            <%= form.label :title %>
            <%= form.text_area :title, 
                class: "text-input"  %>
        </div>
        <div class="form-item">
            <%= form.label :description %>
            <%= form.text_area :description, 
                class: "text-input" %>
        </div>
        <%= form.submit "Add Task", class: "button button-dark" %>
    <% end %>
</div>